/*about page*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --searchBg: #ffeadc;
    --fg: #000000;
    --fontFamily: 'Roboto Mono', monospace;
    --time: 10s;
}

/* Base styles */
html,
body {
    width: 100%;
    height: 100%;
    background: var(--searchBg);
    font-family: var(--fontFamily);
    overflow: hidden; /* Prevent scrolling */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure it takes full height */
    width: 100%; /* Ensure full width */
    padding: 50px;
    text-align: center;
}

#about {
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}
#about a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}
#about a:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.back-container {
    text-align: center;
}

.back-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.contributor {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card {
    width: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    margin: 0 0 10px;
    color: #333;
    font-size: 1.8em;
}

h2 {
    margin: 10px 0 20px;
    color: #5A3E41;
    font-size: 1.3em;
}