/* base styles and text */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* general containers */
.page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 200px;
}

/* inputs for parameters */
#ai-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.input-box {
    padding: 10px;
    font-size: 1.2em;
    width: 90%;
    text-align: center;
}

.input-box:focus {
    outline: 2px solid #007bff;
}

/* buttons (non-grid) */
.button {
    padding: 10px;
    font-size: 1.2em;
    width: 90%;
    text-align: center;
    cursor: pointer;
}

/* game grid */
.grid {
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    /* 3 columns */
    grid-template-rows: repeat(3, 80px);
    /* 3 rows */
    gap: 5px;
    margin: 20px auto;
    padding: 25px;
    gap: 11px;
}

.grid-cell {
    width: 80px;
    height: 80px;
    font-size: 2em;
    cursor: pointer;
    /* border: 2px solid #333; */
    border: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-cell:hover {
    background-color: rgb(224, 224, 224, 0.5);
}

.grid-cell:disabled:hover {
    background-color: transparent;
    cursor: default;
}