<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q Learning Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .grid {
            background-image: url("{{ url_for('static', filename='images/waffle.png') }}");
            /* background-color: pink; */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Q Learning Tic Tac Toe</h1>

        <!-- q learning bs -->
        <form action="/" method="POST">
            <div class="input-container">
                <input type="text" class="input-box" name="epsilon" placeholder="greed (0.5)" value="{{ epsilon }}">
                <input type="text" class="input-box" name="alpha" placeholder="learning rate (0.1)" value="{{ alpha }}">
                <input type="text" class="input-box" name="gamma" placeholder="discount factor (0.9)" value="{{ gamma }}">
                <input type="text" class="input-box" name="episodes" placeholder="Training Episodes (100000)" value="{{ episodes }}">
            </div>
            <button type="submit" name="submit_type" value="params">Submit Params</button>
        </form>

        {% if epsilon and alpha and gamma and episodes %}
            <div>
                <h2>Submitted Parameters:</h2>
                <p><strong>epsilon:</strong> {{ epsilon }}</p>
                <p><strong>alpha:</strong> {{ alpha }}</p>
                <p><strong>gamma:</strong> {{ gamma }}</p>
                <p><strong>episodes:</strong> {{ episodes }}</p>
            </div>
        {% endif %}

        <!--tictactoe wip -->
        <form method="POST">
            <div class="grid" >
                {% for row in range(3) %}
                    {% for col in range(3) %}
                        {% if board[row][col] == ' ' %}
                            <button type="submit" name="cell" value="{{ row }}-{{ col }}" class="grid-cell"></button>
                        <!-- disable cells and display images if they are not empty -->
                        {% else %}
                            <button disabled name="cell" value="{{ row }}-{{ col }}" class="grid-cell">
                                <img id="{{ row }}-{{ col }}" style="display:none;" />
                                {% if board[row][col] == 'X' %}
                                    <img src="{{ url_for('static', filename='images/blueberry.png') }}" />
                                {% else %}
                                    O
                                    <!-- <img src="{{ url_for('static', filename='images/o.png') }}" /> -->
                                {% endif %}
                            </button>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <input type="hidden" name="submit_type" value="move">
        </form>

        <!-- display move -->
        {% if move %}
            <p>You clicked on cell: {{ move }}</p>
        {% endif %}

        <!-- check for winner and output accordingly -->
        {% if winner == 0 %}
            <p>User wins!</p>
        {% elif winner == 1 %}
            <p>Computer wins!</p>
        {% elif winner == 2 %}
            <p>Draw!</p>
        {% endif %}

        <!-- reset/play again button -->
        <form method="POST">
            <button type="submit" name="submit_type" value="reset">Restart</button>
        </form>
    </div>
</body>
</html>
