<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q Learning Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='gameevents.js') }}" defer></script>
    <script src="{{ url_for('static', filename='winningline.js') }}"></script>
</head>

<body>
    <div class="page">
        <h1>Q-Learning Tic Tac Toe</h1>

        <div class="container">
            <!-- q learning training parameter inputs -->
            <div class="column" style="margin-top:40px;">
                <form action="/" method="POST" id="ai-inputs">
                    <input type="text" class="input-box" name="epsilon" placeholder="Greed (.5)" value="{{ epsilon }}">
                    <input type="text" class="input-box" name="alpha" placeholder="Learning rate (.1)"
                        value="{{ alpha }}">
                    <input type="text" class="input-box" name="gamma" placeholder="Discount factor (.9)"
                        value="{{ gamma }}">
                    <input type="text" class="input-box" name="episodes" placeholder="Training Episodes (100k)"
                        value="{{ episodes }}">
                    <button type="submit" name="submit_type" value="params" class="button">Submit Parameters</button>
                </form>
            </div>

            <div class="column" style="width:350px;">
                <!-- tictactoe game -->
                <form method="POST">
                    <div class="grid" id="board-container">
                        {% include 'board.html' %}
                    
                    <!-- line to show winner -->
                    {% if cells != None %}
                        <div class="winner-line" id="line"></div>
                        <!-- run js function-->
                        <script type="text/javascript">
                            var cells = {{ cells | tojson }};
                            drawWinLine(cells);
                        </script>
                    {% endif %}
                    </div>
                    <input type="hidden" name="submit_type" value="move">
                </form>
                
                <!-- option to display q-values -->
                <div style="display: flex; justify-content: center; align-items: center; margin-top: -10px;">
                <label for="show_qvalues" style="display: inline-flex; align-items: center; gap: 6px;">
                    <input type="checkbox" id="show_qvalues" name="qvalues" value="true"
                        {% if qvalues_state %}checked{% endif %}
                        onchange="sendCheckboxState()">
                    <span>Show Q-values</span>
                </label>
                </div>

                <!-- check for winner and output accordingly -->
                {% if winner == 0 %}
                    <h2>X wins!</h2>
                {% elif winner == 1 %}
                    <h2>O wins!</h2>
                {% elif winner == 2 %}
                    <h2>Draw!</h2>
                {% else %}
                    <h2 style="color:#ffeadc;">-</h2>
                {% endif %}
                
                <!-- reset/play again button -->
                <form method="POST" id="resetForm">
                    <button type="submit" name="submit_type" value="reset" class="button"
                        onclick="resetGame()">
                        Reset Game
                    </button>
                </form>

                <!-- display move -->
                {% if move %}
                    <p>You clicked on cell: {{ move }}</p>
                {% else %}
                    <p style="color:#ffeadc;">-</p>
                {% endif %}
            </div>

            <!-- parameters being used -->
            <div class="column" style="margin-top:30px;">
                {% if epsilon!='' and alpha!='' and gamma!='' and episodes!='' %}
                    <div>
                        <h2>Submitted Parameters:</h2>
                        <p><strong>epsilon:</strong> {{ epsilon }}</p>
                        <p><strong>alpha:</strong> {{ alpha }}</p>
                        <p><strong>gamma:</strong> {{ gamma }}</p>
                        <p><strong>episodes:</strong> {{ episodes }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>